<!DOCTYPE html>
<html>
<head>
    <title>@{repository.title}</title>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=1024, user-scalable=yes" />
	<meta name="robots" content="all,follow" />
	<style type="text/css">
		body { padding: 50px; margin: 0; font:normal 12px Arial; color: gray }
		.paging { font-size: 11px; height: 20px }
		.paging a { float: left; margin-right: 5px; }
		.paging div { float: right; }
		.mb5 { margin-bottom: 5px; }
	</style>
</head>
<body>

	@{body}

</body>
</html>