<div><strong>Registration</strong></div>
<br />

@{contentVisible(repository.isSuccess, 'success')}

<form action="/" method="POST">

	<div>Registration type:</div>
	<div>
		<select name="type">
			@{options(repository.type, model.type, 'name', 'id')}
		</select>
	</div>
	<br />
	<div>Name:</div>
	<div>@{text('name')}</div>
	<br />
	<div>E-mail:</div>
	<div>@{text('email')}</div>
	<br />
	<!-- OR your custom definition -->
	<div>Phone:</div>
	<div><input type="text" name="phone" value="@{model.phone}" /></div>
	<br />
	<div>Password:</div>
	<div>@{password('password')}</div>
	<br />
	<div>Country:</div>
	<div>
		<select name="country">
			@{options(repository.country, model.country)}
		</select>
	</div>
	<br />
	<div>
		@{checkbox('terms', 'I agree')}
	</div>
	<br />
	<hr />
	<br />
	<div><button>SUBMIT</button></div>
</form>