<!DOCTYPE html>
<html>
<head>
    <title>@{repository.title}</title>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=1024, user-scalable=yes" />
	<meta name="robots" content="all,follow" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<style type="text/css">
		body { padding: 50px; margin: 0; font:normal 12px Arial; color: gray }
		a { float:left; margin: 0 5px 0 0; font-size: 13px; }
		p { background-color: #F0F0F0; padding: 5px; font:bold 15px Arial; }
	</style>
</head>
<body>

	<div>@{body}</div>
	<br />
	<hr />
	<br />
	<div style="height:20px"><a href="/new/">Go to new layout</a></div>
	<div>partial.html in layout &rarr; @{view('partial')}</div>
	<br />
	<br />
	<div style="height:20px"><a href="/">HOMEPAGE &rarr;</a></div>
	<div style="height:20px"><a href="/users/">USERS &rarr;</a></div>
	<div style="height:20px"><a href="/users/admin/">ADMIN &rarr;</a></div>
	<div style="height:20px"><a href="/products/">PRODUCTS &rarr;</a></div>
</body>
</html>