@{layout('')}

<!DOCTYPE html>
<html>
<head>
    @{meta}
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=1024, user-scalable=yes" />
	<meta name="robots" content="all,follow" />
	@{css('default.css')}

	<!-- DYNAMIC COMPRESS -->
	<style type="text/css">
		$black: #000000;
		body { background-color: $black; }
	</style>

</head>
<body>

	<div class="content">SASS</div>

</body>
</html>