@{dns('//fonts.googleapis.com')}
@{prefetch('http://daker.me/2013/05/hello-world.html')}
@{prerender('http://daker.me/2013/05/hello-world.html')}
@{next('/a/3/')}
@{prev('/a/1/')}
@{canonical('/a/a-b-c/')}
@{head('//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')}
#tag-encode@{repository.tag}#
#tag-raw@{!repository.tag}#
#helper-property-@{property}#
#helper-fn-@{fn('A')}#
#readonly@{readonly(true)}#
#checked@{checked(true)}#
#selected@{selected(true)}#
#disabled@{disabled(true)}#
#resource@{resource('name')}#
#options-empty@{options(repository.optionsEmpty, 'B')}#
#options@{options(repository.options, 'C', 'k', 'v')}#
#view@{view('b', 'model')}#
#view-toggle@{viewToggle(false, 'b')}#
#content@{content('test')}#
#content-toggle@{contentToggle(false, 'b')}#
#template-one@{template('one', repository.template)}#
#template-more@{template('more', repository.template)}#
#template-empty@{template('more', [], 'test')}#
#template-toggle@{templateToggle(false, 'more', [])}#
#routejs-@{routeJS('p.js')}#
#@{head}#
#@{download('test.pdf', 'content', 'test')}#

<script type="text/template"><textarea>
a</textarea>
a
</script>

<script>
var b = 2;
var c = 3;
</script>