@{section script}
    <section>SECTION</section>
@{end}

@{helper name(a, b)}
    <count>@{a}</count>
    @{if typeof(b) !== 'undefined'}
        <next>@{b}</next>
    @{endif}
@{end}

#@{component('contactform', { value: 'PETER' })}#
#<div>@{{ vue_command }}</div>#
@{name(10)}
@{meta('TITLE')}
@{dns('//fonts.googleapis.com')}
@{prefetch('http://daker.me/2013/05/hello-world.html')}
@{prerender('http://daker.me/2013/05/hello-world.html')}
@{next('/a/3/')}
@{prev('/a/1/')}
@{canonical('/a/a-b-c/')}
@{head('//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')}
#tag-encode@{R.tag}#
#tag-raw@{!repository.tag}#
#helper-fn-@{helper('fn', 'A')}#
#readonly@{readonly(true)}#
#checked@{checked(true)}#
#selected@{selected(true)}#
#disabled@{disabled(true)}#
#resource@{resource('name')}#
#options-empty@{options(repository.optionsEmpty, 'B')}#
#options@{options(R.options, 'C', 'k', 'v')}#
#view-toggle@{viewToggle(false, 'b')}#
#view@{view('current/b', 'model')}#
#routejs-@{routeScript('p.js')}#
#title@{title}#
#mobile@{mobile}#
#@{head}#
#@{download('test.pdf', 'content', 'test')}#
a
@{place('footer', 'PLACE')}
#dynamic@{viewCompile('<b>OK</b>')}#
<!-- COMMENT @{error_mark} -->
<script type="text/template"><textarea>
a</textarea>
a
</script>
@{compile Tangular}
COMPILE_TANGULAR
@{end}
<script>
var b = 2;
var c = 3;
var d = "$'";
var e = '$\'';
var r = /$\''''\"/g;
var n = '\n"\n';
</script>

@{place('footer')}
@{repository.INLINE = 5}
<INLINE>@{repository.INLINE}</INLINE>
@{repository.INLINE++}

@{foreach a in [1, 2, 3, 4]}
<div>@{a}</div>
<div>@{!a}</div>
<div>@{if a % 2 === 0}FOREACH@{endif}</div>
@{foreach var c in [10, 11, 12]}
    <div>C:@{c}</div>
@{end}
<div>HELPER:@{a}-@{name(a, index)}</div>
@{end}
@{name(40, 40)}
#helper-fnwithout-@{fn('A')}#
@{section('script')}

@{compile}
COMPILE_WITHOUT
@{end}
@{'filename.js'}

#RELEASETRANSLATOR1=@{translate('sk', model.a)}=A#
#RELEASETRANSLATOR2=@{translate('A')}=A#
#absolute1=@{absolute('filename.js')}#
#absolute2=@{absolute('filename.js', 'https://www.google.sk')}#
#absolute3=@{absolute(['default.js', 'home.js'], 'http://localhost:8000')}#
#d429c9c776604a9e15d04d9bd90dba27e0155965=@{repository.a}+@{repository.b}+@{repository.c}#
#CONFIGNAME1=@{'%name'}#
#CONFIGNAME2=@{'%fet'}#
