
<form action="#" method="POST" id="f">
	<div>
		<div>First name:</div>
		<div><input type="text" name="FirstName" maxlength="200" /></div>
	</div>
	<br />
	<div>
		<div>Last name:</div>
		<div><input type="text" name="LastName" maxlength="200" /></div>
	</div>
	<br />
	<div>
		<div>E-mail:</div>
		<div><input type="text" name="Email" value="@" maxlength="200" /></div>
	</div>
	<br />
	<div>
		<div>Age:</div>
		<div><input type="text" name="Age" maxlength="2" /></div>
	</div>
	<br />
	<div>
		<div><label><input type="checkbox" name="Terms" value="1" /> I agree</label></div>
	</div>
	<div id="error"></div>
</form>
<br />
<button>Submit</button>

<script type="text/javascript">
	$(document).ready(function() {
		$('button').bind('click', function() {
			$.post('/?ts=' + new Date().getTime(), $('#f').serialize(), function(d) {
				var err = $('#error');
			
				if (d instanceof Array) {

					err.empty();
					d.forEach(function(o) {
						err.append('<div>' + o.error + '</div>');
					});
					err.show();
					return;
				};

				err.hide();
				alert('Form is valid.');
			});
		});
	});
</script>
