<!DOCTYPE html>
<html>
<head>
    <title>@{repository.title}</title>
    <meta charset="utf-8" />
	<meta http-equiv="content-language" content="sk" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=1024, user-scalable=yes" />
	<meta name="robots" content="all,follow" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<style type="text/css">
		body { padding: 50px; margin: 0; font:normal 12px Arial; color: gray }
		.paging { font-size: 11px; height: 20px }
		.paging a { float: left; padding: 3px 5px; }
		.paging div { float: right; }
		.selected { background-color: black; color: white; }
		.mb5 { margin-bottom: 5px; }
	</style>
</head>
<body>

	@{body}

</body>
</html>