@{layout('')}

<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=1024, user-scalable=yes" />
	<meta name="robots" content="all,follow" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<style type="text/css">
		body { padding: 50px; margin: 0; font:normal 12px Arial; color: gray }
	</style>
</head>
<body>

	<h1>XSS PROTECTION</h1>

	<div>DATA: <b>@{!repository.unknown}</b></div>

	<h2>POST (xss disabled (by default))</h2>
	<form action="/" method="POST">
		<div><textarea name="unknown" cols="50" rows="5">&lt;script type=&quot;text/javascript&quot;&gt;alert('OK');&lt;/script&gt;</textarea></div>
		<br />
		<button>Submit</button>
	</form>
	<br />	
	<br />
	<h2>GET (xss disabled (by default))</h2>
	<form action="/" method="GET">
		<div><textarea name="unknown" cols="50" rows="5">&lt;script type=&quot;text/javascript&quot;&gt;alert('OK');&lt;/script&gt;</textarea></div>
		<br />
		<button>Submit</button>
	</form>
	<br />

	<hr />

	<h2>POST (xss enabled)</h2>
	<form action="/xss/" method="POST">
		<div><textarea name="unknown" cols="50" rows="5">&lt;script type=&quot;text/javascript&quot;&gt;alert('OK');&lt;/script&gt;</textarea></div>
		<br />
		<button>Submit</button>
	</form>
	<br />	
	<br />
	<h2>GET (xss enabled)</h2>
	<form action="/xss/" method="GET">
		<div><textarea name="unknown" cols="50" rows="5">&lt;script type=&quot;text/javascript&quot;&gt;alert('OK');&lt;/script&gt;</textarea></div>
		<br />
		<button>Submit</button>
	</form>
	<br />	


</body>
</html>